.imageCal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}
.individual {
    border: 1px solid aliceblue;
    position: relative;
}
.layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(19, 24, 24);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.layout:hover {
    opacity: 0.5;
    
}
.imageSize {
    height: 100%;
    width: 100%;
}
.large {
    grid-column: span 2;
    grid-row: span 2;
}
